{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% load mathfilters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay light-grey-bg"></div>
    <div class="container">
        {% if bag_items %}
            <div class="row">
                <div class="col-12 d-md-none px-3 mt-2">
                    <div class="custom-sticky-top">
                        <div class="bag-item-cont">
                            <div class="row">
                                <div class="col-6 flex align-center">
                                    <span>£{{ grand_total|floatformat:2 }}</span>
                                </div>
                                <div class="col-6">
                                    <a href="{% url 'checkout' %}" class="checkout-btn btn text-uppercase 
                                                                          flex justify-content-center 
                                                                          align-center hvr-bounce-to-right">
                                        Checkout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-12 col-md-8 px-3 px-md-1">
                    <div class="bag-item-cont">
                        <h2 class="text-uppercase">My bag</h2>
                    </div>
                    <div class="bag-item-cont">
                        {% for item in bag_items %}
                            <div class="row item-cont">
                                <div class="col-2">
                                    {% if item.product.image %}
                                        <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.product.image }}" 
                                            alt="{{ item.product.name }}">
                                    {% else %}
                                        <img class="img-fluid" src="{{ MEDIA_URL }}no_image.png" 
                                            alt="{{ item.product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-10 bag-item-details">
                                    <p><strong>£{{ item.product.price }}</strong></p>
                                    <p>{{ item.product.name }}</p>
                                    <p><small>{{ item.product.sku }}</small></p>
                                    <form action="{% url 'adjust_bag' item.item_id %}" class="form update-q-form" 
                                            method="POST">
                                        {% csrf_token %}
                                        <div class="form-group w-100 mb-0">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty qty-button" data-item_id="{{ item.item_id }}"
                                                        id="decrement-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input type="number" class="form-control qty_input" name="quantity"
                                                    value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty qty-button" data-item_id="{{ item.item_id }}"
                                                        id="increment-qty_{{ item.item_id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <a class="update-q-link"><i class="fas fa-sync-alt"></i></a>
                                    <a class="remove-item" id="remove_{{ item.item_id }}"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <div class="bag-item-cont text-right mb-2">
                        <h3 class="bag-subtotal">
                            <span><strong>Sub-total:</strong></span>
                            <span><strong>£{{ total|floatformat:2 }}</strong></span>
                        </h3>
                    </div>
                </div>
                <div class="col-12 col-md-4 px-3 mb-2">
                    <div class="custom-sticky-top">
                        <div class="bag-item-cont">
                            <h2 class="text-uppercase mb-3">total</h2>
                            <hr>
                            <p class="bag-total">
                                <span><strong>Sub-total:</strong></span>
                                <span>£{{ total|floatformat:2 }}</span>
                            </p>
                            <p class="bag-total">
                                <span><strong>Delivery:</strong></span>
                                <span>£{{ delivery|floatformat:2 }}</span>
                            </p>
                            <a href="{% url 'checkout' %}" class="checkout-btn btn text-uppercase 
                                                                  flex justify-content-center 
                                                                  align-center hvr-bounce-to-right">
                                Checkout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row empty-sect">
                <div class="col-12 text-center mt-5">
                    <i class="fas fa-shopping-bag"></i>
                </div>
                <div class="col-12 text-center">
                    <h2 class="font-weight-bold text-capitalize mt-3">Your Bag is empty </h2>
                    <p class="mt-3 mb-5">Looks like you haven't added anything to your bag yet</p>
                    <a class="empty-home-btn mt-4 mb-5 mb-md-0 text-uppercase hvr-shutter-out-horizontal button" href="/">Home</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        /* Update product on btn click */
        $('.update-q-link').click(function(e) {
            var form = $(this).prev('.update-q-form');
            form.submit();
        })

        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/bag/remove/${itemId}`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })

    </script>

{% endblock %}