{% extends 'base.html' %} 
{% load static %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %} 

{% block content %}

<section>
    <div class="index-bg-container">
        <div class="index-title-container container">
            <h3>Gate Fittings Direct 4 trade</h3>
            <h1>Your one stop shop for gate fittings</h1>
            <p>Supplying the nation with quality hand picked products</p>
        </div>
    </div>
</section>
<section class="index-callout-boxes container">
    <div class="flex callout-small">
        <div class="col-12 col-md-4 pb-4 pb-md-0">
            <div class="callout-img-cont">
                <img
                    src="{{ MEDIA_URL }}zedlsecurity-cat.jpg"
                    alt="Zedlock Brand"
                    class="callout-img"
                />
                <div class="callout-bg">
                    <h4>Leading Manufacturers</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-4 pb-md-0">
            <div class="callout-img-cont">
                <img
                    src="{{ MEDIA_URL }}fencfasteners-cat.jpg"
                    alt="Field Gate Hinge"
                    class="callout-img"
                />
                <div class="callout-bg">
                    <h4>300+ Products in stock</h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="callout-img-cont">
                <img
                    src="{{ MEDIA_URL }}ringlatch-cat.jpg"
                    alt="Ring Latch"
                    class="callout-img"
                />
                <div class="callout-bg">
                    <h4>Only Quality products</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-sect-index">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img
                    src="{{ MEDIA_URL }}GFD2.png"
                    alt="Gate fittings direct 4 trade"
                    class="centered-img"
                />
            </div>
            <div class="col-12 col-md-6 why-us-cont">
                <h5>Why Us?</h5>
                <ul class="why-us-list">
                    <li>
                        <span>Quality products from the nations most trusted suppliers</span>
                    </li>
                    <li>
                        <span>35+ Years of experience in the fencing industry</span>
                    </li>
                    <li>
                        <span>300+ Products in stock ready for fast and free shipping</span>
                    </li>
                    <li>
                        <span>Expert advice on all products sold</span>
                    </li>
                    <li>
                        <span>Support a homegrown local Oxfordshire business</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="who-we-work-with">
    <div class="row">
        <div class="col-12 text-center">
            <h5 class="text-uppercase">Who we work with</h5>
        </div>
    </div>
    <div class="supplier-logo-cont">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-6 mb-5 col-md-2 mb-md-0 flex">
                <img src="{{ MEDIA_URL }}patura.png" alt="Patura">
            </div>
            <div class="col-6 mb-5 col-md-2 mb-md-0 flex">
                <img src="{{ MEDIA_URL }}birkdale.png" alt="Birkdale">
            </div>
            <div class="col-6 mb-5 col-md-2 mb-md-0 flex">
                <img src="{{ MEDIA_URL }}eliza_tinsley.png" alt="Eliza Tinsley">
            </div>
            <div class="col-6 mb-5 col-md-2 mb-md-0 flex">
                <img src="{{ MEDIA_URL }}perry.png" alt="Perry Trade">
            </div>
            <div class="col-6 offset-3 col-md-2 offset-md-0 flex justify-content-center align-center flex">
                <img src="{{ MEDIA_URL }}zedlock.png" alt="Zedlock">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>
<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <h5 class="text-uppercase mb-4">What our customers say</h5>
                <p class="mb-5">
                    Don't take it from us. We have many years of great selling on ebay with 99.9% positive
                    review feedback for our items and selling experience. 
                </p>
                <a href="https://www.ebay.com/fdbk/feedback_profile/gatefittingsdirect?filter=period:TWELVE_MONTHS,overall_rating:POSITIVE" 
                    class="ebay-btn text-uppercase flex justify-content-center align-center button hvr-bounce-to-right 
                           mb-5 mb-md-0">
                    Reviews
                </a>
            </div>
            <div class="col-12 col-md-7 mb-4 mb-md-0">
                <div class="testimonial-container">
                    <i class="fas fa-quote-left"></i>
                    <p class="testimonial-text">
                        Superb items, an excellent seller - just perfect. Everything securely packed, 
                        arrived quickly and accurately described. Buy with confidence, thanks.
                    </p>
                    <i class="fas fa-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
