<div class="overlay light-grey-bg"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="checkout-item-cont">
                <h2 class="text-uppercase"></h2>
            </div>
            <div class="checkout-item-cont">
                <div class="checkout-title-cont">
                    <span>Delivery Address</span>
                </div>
                <hr>
                <div class="detail-form-container">
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset class="rounded mb-5">
                            <legend class="fieldset-label small text-black w-auto">Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded mb-5">
                            <legend class="fieldset-label small text-black w-auto">Shipping</legend>
                            {{ order_form.phone_number | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            {{ order_form.street_address1 | as_crispy_field }}
                            {{ order_form.street_address2 | as_crispy_field }}
                            {{ order_form.town_or_city | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            <div class="form-check form-check-inline float-right mr-0">
                                {% if user.is_authenticated %}
                                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                    </label>
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>

                        <div class="submit-button text-right mt-5 mb-2">                    
                            <button id="submit-button" class="btn btn-black rounded-0">
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="checkout-item-cont">
                <div class="row">
                    <div class="col-6">
                        <h2 class="text-uppercase">
                            Summary
                        </h2>
                    </div>
                    <div class="col-6 float-right">
                        <a href="{% url 'view_bag' %}">Edit</a>
                    </div>
                </div>
                <hr>
                {% for item in bag_items %}
                <div class="row item-cont">
                    <div class="col-5">
                        {% if item.product.image %}
                            <img class="w-100" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-7 bag-item-details">
                        <p><strong>£{{ item.product.price }}</strong></p>
                        <p>{{ item.product.name }}</p>
                        <p>Qty: {{ item.quantity }}</p>
                    </div>
                </div>
                {% endfor %}
                <hr>
                <p class="bag-total">
                    <span>
                        <strong>Sub-total:</strong>
                        <small class="text-muted">(exc.Vat)</small>
                    </span>
                    <span>£{{ total | div:1.2 | floatformat:2}}</span>
                </p>
                <p class="bag-total">
                    <span><strong>VAT:</strong></span>
                    <span>£{{ total | div:1.2 | mul:0.2 | floatformat:2 }}</span>
                </p>
                <p class="bag-total">
                    <span><strong>Delivery:</strong></span>
                    <span>£{{ delivery|floatformat:2 }}</span>
                </p>
                <p class="bag-total grand-total">
                    <span>
                        <strong>Total To Pay:</strong>
                        <small class="text-muted">(inc.VAT)</small>
                    </span>
                    <span>£{{ grand_total | floatformat:2 }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Checkout</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="detail-container">
                <div class="detail-title-container">
                    <span>Post To</span>
                </div>
                <div class="detail-form-container">
                    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                        {% csrf_token %}
                        <fieldset class="rounded mb-5">
                            <legend class="fieldset-label small text-black w-auto">Details</legend>
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                        </fieldset>
                        <fieldset class="rounded mb-5">
                            <legend class="fieldset-label small text-black w-auto">Shipping</legend>
                            {{ order_form.phone_number | as_crispy_field }}
                            {{ order_form.country | as_crispy_field }}
                            {{ order_form.street_address1 | as_crispy_field }}
                            {{ order_form.street_address2 | as_crispy_field }}
                            {{ order_form.town_or_city | as_crispy_field }}
                            {{ order_form.county | as_crispy_field }}
                            {{ order_form.postcode | as_crispy_field }}
                            <div class="form-check form-check-inline float-right mr-0">
                                {% if user.is_authenticated %}
                                    <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                {% else %}
                                    <label class="form-check-label" for="id-save-info">
                                        <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                        <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                    </label>
                                {% endif %}
                            </div>
                        </fieldset>
                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>

                        <div class="submit-button text-right mt-5 mb-2">                    
                            <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="font-weight-bold">Adjust Bag</span>
                            </a>
                            <button id="submit-button" class="btn btn-black rounded-0">
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <!-- Set up a container element for the button -->
                            <div id="paypal-button-container"></div>

                            <p class="small text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged <strong>£{{ grand_total | floatformat:2 }}</strong></span>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="order-preview-container">
                <div class="order-title-container">
                    <span>Summary</span>
                </div>
                <div class="order-items-container">
                    {% for item in bag_items %}
                        <a href="{% url 'product_detail' item.product.id %}" class="text-black">
                            <div class="row mb-3">
                                <div class="col-3">
                                    {% if item.product.image %}
                                        <img class="w-100" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
                                    {% endif %}
                                </div>
                                <div class="col-7">
                                    <p>{{ item.product.name }}</p>
                                    <p>Quantity: {{ item.quantity }}</p>
                                </div>
                                <div class="col-2 text-right">
                                    <p>£{{ item.product.price }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="row mt-3">
                        <div class="col-7">
                            <p class="mb-1">Subtotal <span class="text-muted">(exc. VAT):</span></p>
                            <p class="mb-1">VAT:</p>
                            <p class="mb-1">Shipping:</p>
                            <p class="mt-2"><strong>Order Total </strong><span class="text-muted">(inc. VAT):</span></p>
                        </div>
                        <div class="col-5 text-right">
                            <p class="mb-1">£{{ total | div:1.2 | floatformat:2}}</p>
                            <p class="mb-1">£{{ total | div:1.2 | mul:0.2 | floatformat:2 }}</p>
                            <p class="mb-1">£{{ delivery | floatformat:2 }}</p>
                            <p class="mt-2"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>