{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load mathfilters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay light-grey-bg"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col-12 order-12 col-md-7 order-md-1 px-2 px-md-1">
                <div class="checkout-item-cont">
                    <h2 class="text-uppercase">Checkout</h2>
                </div>
                <div class="checkout-item-cont">
                    <div class="checkout-title-cont">
                        <span>Delivery Address</span>
                    </div>
                    <hr>
                    <div class="detail-form-container">
                        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <fieldset class="mb-5">
                                {{ order_form.full_name | as_crispy_field }}
                                {{ order_form.email | as_crispy_field }}
                            </fieldset>
                            <fieldset class="mb-5">
                                {{ order_form.phone_number | as_crispy_field }}
                                {{ order_form.country | as_crispy_field }}
                                {{ order_form.street_address1 | as_crispy_field }}
                                {{ order_form.street_address2 | as_crispy_field }}
                                {{ order_form.town_or_city | as_crispy_field }}
                                {{ order_form.county | as_crispy_field }}
                                {{ order_form.postcode | as_crispy_field }}
                                <div class="form-check form-check-inline float-right mr-0">
                                    {% if user.is_authenticated %}
                                        <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                    {% else %}
                                        <label class="form-check-label" for="id-save-info">
                                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                        </label>
                                    {% endif %}
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </fieldset>

                            <div class="submit-button text-right mt-5 mb-2">                    
                                <button id="submit-button" class="button hvr-shutter-in-horizontal text-uppercase">
                                    place order
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 order-1 col-md-5 order-md-12 px-2 px-md-1">
                <div class="checkout-item-cont custom-sticky-top">
                    <div class="row">
                        <div class="col-6">
                            <h2 class="text-uppercase">
                                Summary
                            </h2>
                        </div>
                        <div class="col-6 float-right">
                            <a href="{% url 'view_bag' %}">Edit</a>
                        </div>
                    </div>
                    <hr>
                    <div class="checkout-scroll-cont">
                        <ul class="many-item-cont list-unstyled">
                            {% for item in bag_items %}
                            <li>
                                <div class="row item-cont">
                                    <div class="col-5 img-container flex">
                                        {% if item.product.image %}
                                            <img class="img-fluid" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ product.name }}">
                                        {% else %}
                                            <img class="img-fluid" src="{{ MEDIA_URL }}no_image.png" alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-7 checkout-item-details">
                                        <p><strong>£{{ item.product.price }}</strong></p>
                                        <p>{{ item.product.name }}</p>
                                        <p>Qty: {{ item.quantity }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr>
                    <p class="checkout-total mb-2">
                        <span>
                            <strong>Sub-total:</strong>
                            <small class="text-muted">(exc.Vat)</small>
                        </span>
                        <span>£{{ total | div:1.2 | floatformat:2}}</span>
                    </p>
                    <p class="checkout-total mb-2">
                        <span><strong>VAT:</strong></span>
                        <span>£{{ total | div:1.2 | mul:0.2 | floatformat:2 }}</span>
                    </p>
                    <p class="checkout-total">
                        <span><strong>Delivery:</strong></span>
                        <span>£{{ delivery|floatformat:2 }}</span>
                    </p>
                    <p class="checkout-total grand-total mb-0">
                        <span>
                            <strong>Total To Pay:</strong>
                            <small class="text-muted">(inc.VAT)</small>
                        </span>
                        <span>£{{ grand_total | floatformat:2 }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <!-- Stripe -->
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

    <!-- Paypal -->
    <script src="https://www.paypal.com/sdk/js?client-id=AdP2pq1Pir9Rdg5BtOm_ZkHnNUHoSdyp9ZrFRv2uJlm0F9X75bDXb1y34dXFi7IFiP03BfwIq6y2moFv&currency=GBP">
    </script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '88.44'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock %}