<div class="container p-4">
    <div class="row">
        <div class="col-12 col-md-4">
            <h6 class="text-uppercase">Gate Fittings direct 4 trade</h6>
            <p>
                A homegrown local Oxfordshire business. Supplying quality fencing 
                products nationwide to your doorstep. We strive to only provide the
                best products and service to all customers. 
            </p>
        </div>
        <div class="col-6 col-md-4">
            <h6>Useful Links</h6>
            <ul class="list-unstyled mb-0">
                <li>
                    <a href="{% url 'contact' %}">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="text-center bottom-footer p-3">
    @ 2020 Copyright: Gate Fittings Direct 4 Trade
</div>
 