/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Spectral:wght@300;400;500;600;700&display=swap");

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Spectral", sans-serif;
}

.blue-bg {
    background-color: #288fbd;
}

.grey-bg {
    background-color: #373737;
}

.text-black {
    color: #000000;
}

nav .row {
    width: 100%;
}

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-row-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
