/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Spectral:wght@300;400;500;600;700&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Spectral", sans-serif;
    padding-top: 110px;
    height: calc(100vh - 110px);
}

.blue-bg {
    background-color: #288fbd;
}

.grey-bg {
    background-color: #373737;
}

.text-black {
    color: #000000;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.flex {
    display: flex;
}

.flex-row-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.vat-switch input {
    display: none;
}

.vat-slider {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 2rem;
    height: 24px;
    width: 60px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.vat-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #288fbd;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .vat-slider {
    background-color: #000;
}

input:focus + .vat-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .vat-slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

.inc-vat-text {
    position: absolute;
    top: 0;
    left: 0;
}

.exc-vat-text {
    position: absolute;
    top: 0;
    right: 0;
}

.vat-toggler-cont {
    position: relative;
}

@media screen and (max-width: 764px) {
    .vat-slider {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.centered-img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
