/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Spectral:wght@300;400;500;600;700&display=swap");

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Spectral", sans-serif;
    padding-top: 110px;
    height: 100vh;
}

/* ------------------------------------ Colours */

.blue-bg {
    background-color: #288fbd;
}

.grey-bg {
    background-color: #373737;
}

.light-grey-bg {
    background-color: #f2f2f2 !important;
}

.text-black {
    color: #000000;
}

/* ------------------------------------ Alignment */

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.flex {
    display: flex;
}

.flex-row-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content {
    min-height: calc(100vh - 337px);
    margin-top: 2rem;
}

/* ------------------------------------ Overlay for all pages */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

/* ------------------------------------ Vat slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.vat-switch input {
    display: none;
}

.vat-slider {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 2rem;
    height: 24px;
    width: 60px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.vat-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: #288fbd;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .vat-slider {
    background-color: #000;
}

input:focus + .vat-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .vat-slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

.inc-vat-text {
    position: absolute;
    top: 0;
    left: 0;
}

.exc-vat-text {
    position: absolute;
    top: 0;
    right: 0;
}

.vat-toggler-cont {
    position: relative;
}

/* ------------------------------------ Global Images */

.centered-img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

/* ------------------------------------ Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Allauth form formatting */

.allauth-form-inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.allauth-form-inner-content form .form-group {
    width: 100%;
}

.form-check {
    padding-left: 0;
}

.allauth-form {
    border-radius: 0.1rem;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.1);
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.allauth-form-inner-content p {
    margin-bottom: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
    width: 100%;
}

.allauth-form-inner-content input {
    border-radius: 0.3rem;
    background-color: #eeeeee;
    border: none;
    padding: 0.5rem 0.8rem;
    width: 100%;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content input:hover {
    border-color: #288fbd;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
    /* Appy bootstrap btn classes globally to each btn class 
    inn allauth rather than manually adding each html class
    to the many in the allauth html files */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type="submit"]:hover {
    color: #fff;
    background-color: #288fbd;
    border-color: #288fdb;
} */

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}

.allauth-button {
    border: none;
    border-radius: 0.3rem;
    text-transform: uppercase;
}

.hvr-bounce-to-right:hover {
    border: none;
    background-color: #288fbd;
}

/* ------------------------------------ Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------------------ Inputs */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ------------------------------------ Footer */

.footer-bg {
    background-color: #43464b;
    color: #fff;
}

footer h6 {
    font-size: 1.2rem;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-transform: capitalize;
}

footer ul li a:hover {
    text-decoration: none;
    color: #288fbd;
}

.bottom-footer {
    background-color: #303235;
    color: #fff;
}

/* Other */

.custom-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1020;
}

/* ------------------------------------ Media Queries */

@media (min-width: 585px) {
    .allauth-form {
        width: 550px;
    }
}

@media screen and (max-width: 764px) {
    .vat-slider {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 900px) {
    .main-content {
        margin-top: 6rem;
    }
}
