/** @format */

.index-bg-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../../media/gatelatch-large.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: -2rem;
}

.index-title-container {
    color: #fff;
    padding-top: 90px;
    text-align: center;
}

.callout-small {
    flex-direction: column;
}

.callout-bg h4 {
    font-size: 1rem;
}

.callout-img-cont {
    width: 100%;
    height: 240px;
    position: relative;
}

.index-title-container h1 {
    padding-top: 1rem;
    border-bottom: 1px solid #288fbd;
    text-transform: uppercase;
}

.index-callout-boxes {
    position: relative;
    z-index: 10;
    margin-top: -60px;
    margin-bottom: -60px;
    padding: 30px 15px;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.index-callout-boxes .row .col-4 {
    height: 240px;
}

.callout-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(40 143 189 / 70%);
    height: 45px;
    width: 100%;
    padding: 15px;
    color: #fff;
}

.callout-img {
    width: 100%;
    height: 100%;
}

/* Why Us Section */

.about-sect-index {
    background-color: #f2f2f2;
    padding: 175px 0 150px 0;
}

.why-us-cont {
    padding-left: 15px;
    padding-top: 2rem;
}

.why-us-cont h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.why-us-list {
    padding-left: 26px;
}

.why-us-list li {
    list-style-type: square;
    font-size: 1.2rem;
    color: #288fbd;
}

.why-us-list li span {
    color: #000;
    font-size: 0.9rem;
}

/* Who We Work With Section */

.who-we-work-with {
    padding: 80px 15px;
    background-color: #288fbd;
}

.who-we-work-with h5 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.supplier-logo-cont img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.supplier-logo-cont .col-2 {
    display: flex;
}

/* Testimonial Section */

.testimonials {
    background-color: #f2f2f2;
    padding: 80px 15px;
}

.testimonials h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.ebay-btn {
    width: 50%;
    background-color: #288fbd;
    color: #fff;
    padding: 10px;
    border-radius: 0.1rem;
    text-decoration: none;
}

.ebay-btn:hover {
    text-decoration: none;
}

.hvr-bounce-to-right:before {
    background: #43464b;
}

.testimonial-container {
    background-color: #fff;
    padding: 2rem;
    color: #000;
    height: 100%;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

.testimonial-container i {
    font-size: 2rem;
    color: #288fbd;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

.testimonial-container i:nth-child(1) {
    position: absolute;
    top: -20px;
    left: 0px;
}

.testimonial-container i:nth-child(3) {
    position: absolute;
    bottom: -20px;
    right: 0px;
}

.testimonial-text {
    font-size: 1rem;
    margin-bottom: 0;
}

/* Contact Page */

.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    border-radius: 0.1rem;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.1);
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

/* Media Queries */

@media (min-width: 585px) {
    .contact-form {
        width: 550px;
    }
}

@media (min-width: 760px) {
    .callout-small {
        flex-direction: row;
    }
}

@media (min-width: 900px) {
    .index-bg-container {
        margin-top: -6rem;
    }
}

@media (min-width: 1200px) {
    .index-title-container {
        padding-top: 150px;
    }

    .callout-bg h4 {
        font-size: 1.5rem;
    }

    .callout-bg {
        height: 60px;
    }

    /* Why us media queries */

    .about-sect-index {
        padding: 175px 0;
    }

    /* Why us media queries */

    .why-us-cont h5 {
        font-size: 2rem;
    }

    .why-us-cont {
        padding-left: 50px;
    }

    .why-us-list li {
        font-size: 1.5rem;
    }

    .why-us-list li span {
        font-size: 1.1rem;
    }

    /* Who we work with media queries */

    .who-we-work-with h5 {
        font-size: 2rem;
    }

    /* Testimonials media queries */

    .testimonials {
        padding: 175px;
    }

    .testimonial-container {
        padding: 3rem;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }
}
