/** @format */

.navbar .container {
    padding: 0;
}

.navbar {
    background-color: #43464b;
}

.header-logo {
    display: flex;
    justify-content: left;
    align-items: start;
    height: 70px;
}

.header-logo img {
    height: auto;
    width: 100%;
}

.navbar-toggler {
    background-color: #288fbd;
    border-radius: 0.1rem;
    color: #fff;
    padding: 0.7rem;
}

.text-custom {
    color: #288fbd;
}

.searchbar-box {
    border: none;
    padding: 0;
    margin: 0;
}

.search-bar {
    width: 100%;
}

.search-input {
    width: 100%;
    height: auto;
    padding: 0.4rem;
    background-color: #eaeff2;
    border: 0;
}

.search-submit {
    border: none;
    background-color: #288fbd;
    color: #fff;
    padding: 0;
    width: 15%;
}

/* Collapse Navbar */

#mobileNavContent {
    position: fixed;
    top: 123px;
    left: 0;
    background-color: #555;
    width: 100%;
    padding: 2rem;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-item {
    padding-left: 0.3rem;
    color: #fff;
}

.dropdown-item:active {
    background: #555 !important;
}

.dropdown-menu > li a:hover {
    background: #555 !important;
}

.dropdown-menu .main-cat {
    border-bottom: 1px solid #288fbd;
    color: #fff;
}

.dropdown-menu a,
.dropdown-menu i {
    color: #ccc;
}

.dropdown-menu i {
    font-size: 0.7rem;
}
