/** @format */

/* Img */

.product-img-container {
    width: 100%;
    height: 385px;
    display: flex;
    background: #fff;
    border: 1px solid #ccc;
}

.centered-img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

/* Product Details */

.basket-btn {
    width: 100%;
    height: 38px;
    color: #fff;
    background-color: #288fbd;
    border-radius: 0.1rem;
    border: none;
}

.qty_input {
    text-align: center;
    border: 1px solid rgb(40, 143, 189, 0.5);
}

.qty-button {
    background-color: rgb(40, 143, 189, 0.5);
    color: #000;
    border: none;
    width: 38px;
}

.qty-button:disabled {
    background-color: rgb(40, 143, 189, 0.2);
}

.product-details-container h1 {
    font-size: 1.5rem;
}

.chat-btn {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.1rem;
    background: none;
    color: #888888;
    font-size: 0.8rem;
    height: 38px;
}

.price-text {
    font-size: 1.5rem;
}

/* Checkout Box */

.checkout-box {
    width: 100%;
    border-radius: 0.1rem;
    border: 1px solid #43464b;
}

.checkout-panel {
    width: 100%;
    padding: 0.8rem 1rem;
    height: 60px;
}

.checkout-panel:nth-child(1) {
    background-color: #43464b;
    color: #fff;
    font-size: 1.2rem;
}

.checkout-panel:nth-child(2) {
    color: #000;
    border-bottom: 3px solid #288fbd;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

.checkout-panel h3 {
    margin: 0;
}

.checkout-btn {
    background-color: #288fbd;
    color: #fff;
    border-radius: 0.1rem;
    height: 30px;
    width: 125px;
    font-size: 1rem;
    text-decoration: none;
}

.checkout-btn:hover {
    text-decoration: none;
    color: #fff;
}

.hvr-bounce-to-right:before {
    background: #43464b;
}
