/** @format */

.card-border {
    border-radius: 0.2rem;
    box-shadow: 1px 4px 6px -2px rgb(0, 0, 0, 0.2);
}

.centered-img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.product-btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #288fbd;
    border-radius: 0.25rem;
    background: none;
    height: 30px;
    font-size: 0.9rem;
    transition: 0.25s;
    color: #000;
}

.product-btn:hover,
.product-btn:focus {
    box-shadow: inset 300px 0 0 0 #288fbd;
    color: #fff;
    text-decoration: none;
}

.card-body a {
    color: #000;
    text-decoration: none;
}

.card-body a:hover {
    color: #288fbd;
}
