<div class="container">
    <div class="row">
        <div id="top-nav" class="col-12 flex-row-apart">
            <ul class="navbar-nav my-0 flex-row-center">
                <li class="nav-item">
                    <a href="#" class="nav-link pl-0 text-white">Contact</a>
                </li>
                <li class="nav-item px-4">
                    <a href="#" class="nav-link text-white">About</a>
                </li>
            </ul>
            <ul class="flex my-0">
                <li class="nav-item flex">
                    {% if request.user.is_authenticated %}
                        <a href="#" class="nav-link text-white flex">
                            <div><i class="fas fa-user pr-2"></i></div>
                            <p class="my-0">My Account</p>
                        </a>
                    {% else %}
                        <a href="#" class="nav-link text-white flex">
                            <div><i class="fas fa-user pr-2"></i></div>
                            <p class="my-0">Login/Register</p>
                        </a>
                    {% endif %}
                </li>
                <li class="nav-item align-center flex">
                    <a href="#" class="{% if grand_total %}text-info 
                        font-weight-bold{% else %}text-white{% endif %}
                        nav-link pr-0">
                        <div class="flex">
                            <div><i class="fas fa-shopping-basket pr-2"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="bottom-nav" class="col-12 flex-row-apart">
            <ul class="navbar-nav flex-row-center align-center my-0">
                <li class="nav-item">
                    <a href="#" class="navbar-brand text-white py-0">Gate Fittings Direct</a>
                </li>
                <li class="nav-item active px-4">
                    <a href="#" class="nav-link active text-white">Home</a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'products' %}" class="nav-link active text-white">All Products</a>
                </li>
                <li class="nav-item dropdown mega-dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="hingesDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Hinges
                    </a>
                    <div class="dropdown-menu mega-menu v-2 py-5 px-3" 
                        aria-labelledby="hingesDropdown">
                        <div class="row">
                            <div class="col-3 sub-menu">
                                <a href="#" class="p-0 mb-2">
                                    <div class="category-container">
                                        <img src="../../media/bandhinges-cat.jpg" alt="Adjustable Band Hinges" class="img-fluid">
                                    </div>
                                    <p class="category-title pl-0 text-white">Adjustable Band Hinges</p>
                                </a>
                            </div>
                            <div class="col-3 sub-menu">
                                <a href="#" class="p-0 mb-2">
                                    <div class="category-container">
                                        <img src="../../media/heavhinge-cat.jpg" alt="Heavy Reversible Hinges" class="img-fluid">
                                    </div>
                                    <p class="category-title pl-0 text-white">Heavy Reversible Hinges</p>
                                </a>
                            </div>
                            <div class="col-3 sub-menu">
                                <a href="#" class="p-0 mb-2">
                                    <div class="category-container">
                                        <img src="../../media/fielhinge-cat.jpg" alt="Field Gate Hinges" class="img-fluid">
                                    </div>
                                    <p class="category-title pl-0 text-white">Field Gate Hinges</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mega-dropdown px-4">
                    <a href="#" class="nav-link dropdown-toggle text-white" id="latchessDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Latches
                    </a>
                    <div class="dropdown-menu mega-menu v-2 py-5 px-3" 
                        aria-labelledby="latchesDropdown">
                        <div class="row">
                            <div class="col-3 sub-menu">
                                <a href="" class="p-0 mb-2">
                                    <div class="category-container">
                                        <img src="../../media/equilatch-cat.jpg" alt="Equine Latches" class="img-fluid">
                                    </div>
                                    <p class="category-title pl-0 text-white">Equine Latches</p>
                                </a>
                            </div>
                            <div class="col-3 sub-menu">
                                <a href="#" class="p-0 mb-2">
                                    <div class="category-container">
                                        <img src="../../media/mortlatch-cat.jpg" alt="Mortice Latches" class="img-fluid">
                                    </div>
                                    <p class="category-title pl-0 text-white">Mortice Latches</p>
                                </a>
                            </div>
                            <div class="col-3 sub-menu">
                                <a href="#" class="p-0 mb-2">
                                    <div class="category-container">
                                        <img src="../../media/ringlatch-cat.jpg" alt="Ring Latches" class="img-fluid">
                                    </div>
                                    <p class="category-title pl-0 text-white">Ring Latches</p>
                                </a>
                            </div>
                            <div class="col-3 sub-menu">
                                <a href="#" class="p-0 mb-2">
                                    <div class="category-container">
                                        <img src="../../media/unilatch-cat.jpg" alt="Uni Gate Latch" class="img-fluid">
                                    </div>
                                    <p class="category-title pl-0 text-white">Uni Gate Latch Systems</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div>
                <form action="{% url 'products' %}" method="GET" class="searchbar">
                    <input type="text" name="q" placeholder="Search..." class="search-input">
                    <a href="" class="search-icon" type="submit"><i class="fas fa-search"></i></a>
                </form>
            </div>
        </div>
    </div>
</div>