<div class="container overflow-hidden">
    <div class="row">
        <div class="col-4">
            <a href="/" class="header-logo flex-row-center">
                <img src="{{ MEDIA_URL }}GFD2.png" alt="Gate Fittings Direct 4 Trade">
            </a>
        </div>
        <div class="col-8 flex align-center justify-content-end">
            <ul class="navbar-nav flex-row justify-content-end align-center">
                <li class="nav-item mx-3">
                    <a href="{% url 'view_bag' %}" class="{% if grand_total %}text-custom font-weight-bold{% else %}
                        text-white{% endif %} nav-link pr-0">
                        <div class="flex">
                            <div><i class="fas fa-shopping-basket"></i></div>
                            <p class="my-0">
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavContent"
                        aria-controls="mobileNavContent" aria-expanded="false" aria-label="Toggle Navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                </li>
                <div class="collapse navbar-collapse" id="mobileNavContent">    
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <div class="vat-toggler-cont mb-3">
                                <small class="text-white inc-vat-text">Inc. Vat</small>
                                <label class="vat-switch">
                                    <input type="checkbox" id="changePrice">
                                    <span class="vat-slider"></span>
                                </label>
                                <small class="text-white exc-vat-text">Exc. Vat</small>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="dropdown-toggle nav-link text-white" id="profileDropdown"
                               role="button" data-toggle="dropdown" aira-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_authenticated %}
                                    <li class="flex align-center">
                                        <a href="{% url 'profile' %}" class="dropdown-item text-white">My Profile</a>
                                    </li>
                                    {% if request.user.is_superuser %}
                                        <li class="flex align-center">
                                            <a href="{% url 'add_product' %}" class="dropdown-item text-white">Product Management</a>
                                        </li>
                                    {% endif %}
                                    <li class="flex align-center">
                                        <a href="{% url 'account_logout' %}" class="dropdown-item text-white">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="flex align-center">
                                        <a href="{% url 'account_signup' %}" class="dropdown-item text-white">Register</a>
                                    </li<li class="flex align-center">
                                        <a href="{% url 'account_login' %}" class="dropdown-item text-white">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="dropdown-toggle nav-link text-white" id="productDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-link dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle main-cat">
                                        Hinges
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?MainCategory=hinges" class="dropdown-item">
                                                All Products
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=adjustable_band_hinges" 
                                                class="dropdown-item">
                                                Adjustable Band Hinges
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=heavy_reversible_hinges" 
                                                class="dropdown-item">
                                                Heavy Reversible Hinges
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=field_gate_hinges" 
                                                class="dropdown-item">
                                                Field Gate Hinges
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-link dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle main-cat">
                                        Latches
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?MainCategory=latches" class="dropdown-item">
                                                All Products
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=mortice_latches" 
                                                class="dropdown-item">
                                                Mortice Latches
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=equine_latches" 
                                                class="dropdown-item">
                                                Equine Latches
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=uni_gate_latches" 
                                                class="dropdown-item">
                                                Uni Gate Latch Systems
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-link dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle main-cat">
                                        Fastenings & Fixings
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?MainCategory=fastenings_and_fixings" 
                                                class="dropdown-item">
                                                All Products
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=gate_strikers" 
                                                class="dropdown-item">
                                                Gate Strikers
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=gate_fasteners_and_fixings" 
                                                class="dropdown-item">
                                                Gate Fasteners & Fixings
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=fencing_products" 
                                                class="dropdown-item">
                                                Fencing Products
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-link dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle main-cat">
                                        Security & Locks
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?MainCategory=security_and_locks" 
                                                class="dropdown-item">
                                                All Products
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=drop_bolts" 
                                                class="dropdown-item">
                                                Drop Bolts
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=zedlocks" 
                                                class="dropdown-item">
                                                Zedlocks
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=brenton_bolts" 
                                                class="dropdown-item">
                                                Brenton Bolts
                                            </a>
                                        </li>
                                        <li class="flex align-center">
                                            <span class="sub-bullet-point">
                                                <i class="fas fa-caret-right"></i>
                                            </span>
                                            <a href="{% url 'products' %}?SubCategory=animal_bolts" 
                                                class="dropdown-item">
                                                Animal Bolts
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-link main-cat">
                                    <a href="{% url 'products' %}?MainCategory=gate_wheels" class="text-white">
                                        Gate Wheels
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="text-white">Contact</a>
                        </li>
                        <li class="nav-item mt-2">
                            <a href="#" class="text-white">About Us</a>
                        </li>
                    </ul>
                </div>  
            </ul>
        </div>
        <div class="col-12 col-md-8 offset-md-4">
            <div class="navbar-form searchbar-box">
                <div class="input-group">
                    <form action="{% url 'products' %}" method="GET" class="search-bar flex">
                        <input type="text" name="q" placeholder="Search..." class="search-input">
                        <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>